/* Mobile  */
@media screen and (max-width: 576px){
    .AdminUpdatePost{
        width: 95%;
        margin: auto;
    }
    .AdminUpdatePost_section-container{
        width: 100%;
        margin-bottom: 20px;
    }
    .AdminUpdatePost_section-container label{
        margin-right: 20px;
        font-weight: 600;
    }
    .AdminUpdatePost_title-input{
        width: 40%;
        border-radius: 20px;
        border: black solid 1px;
        padding: 10px;
    }
    .AdminUpdatePost_button-container{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
    }
    .AdminUpdatePost_button-send{
        background: linear-gradient(0.55turn,#3B58CF, #1F232C);
        color: white;
        border: none;
        padding: 10px;
        border-radius: 10px;
        margin-top: 20px;
        width: 40%;
        font-weight: 700;
    }
    .AdminUpdatePost_button-send:hover{
        cursor: pointer;
        background: linear-gradient(0.50turn,#3B58CF, #1F232C);
    }
}

/* Mobile portrait */
@media screen and (min-width: 577px) and (max-width: 768px) {
    .AdminUpdatePost{
        width: 95%;
        margin: auto;
    }
    .AdminUpdatePost_section-container{
        width: 100%;
        margin-bottom: 20px;
    }
    .AdminUpdatePost_section-container label{
        margin-right: 20px;
        font-weight: 600;
    }
    .AdminUpdatePost_title-input{
        width: 60%;
        border-radius: 20px;
        border: black solid 1px;
        padding: 10px;
    }
    .AdminUpdatePost_button-container{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
    }
    .AdminUpdatePost_button-send{
        background: linear-gradient(0.55turn,#3B58CF, #1F232C);
        color: white;
        border: none;
        padding: 15px;
        font-size: 15px;
        border-radius: 10px;
        margin-top: 20px;
        width: 40%;
        font-weight: 700;
    }
    .AdminUpdatePost_button-send:hover{
        cursor: pointer;
        background: linear-gradient(0.50turn,#3B58CF, #1F232C);
    }
}

/* Tablette */
@media screen and (min-width: 769px) and (max-width: 992px){
    .AdminUpdatePost{
        width: 95%;
        margin: auto;
    }
    .AdminUpdatePost_section-container{
        width: 100%;
        margin-bottom: 20px;
    }
    .AdminUpdatePost_section-container label{
        margin-right: 20px;
        font-weight: 600;
    }
    .AdminUpdatePost_title-input{
        width: 60%;
        border-radius: 20px;
        border: black solid 1px;
        padding: 10px;
    }
    .AdminUpdatePost_button-container{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
    }
    .AdminUpdatePost_button-send{
        background: linear-gradient(0.55turn,#3B58CF, #1F232C);
        color: white;
        border: none;
        padding: 15px;
        font-size: 15px;
        border-radius: 10px;
        margin-top: 20px;
        width: 40%;
        font-weight: 700;
    }
    .AdminUpdatePost_button-send:hover{
        cursor: pointer;
        background: linear-gradient(0.50turn,#3B58CF, #1F232C);
    }
}

/* Ordinateur portable */
@media screen and (min-width: 993px) and (max-width: 1200px){
    .AdminUpdatePost{
        width: 95%;
        margin: auto;
    }
    .AdminUpdatePost_section-container{
        width: 100%;
        margin-bottom: 20px;
    }
    .AdminUpdatePost_section-container label{
        margin-right: 20px;
        font-weight: 600;
    }
    .AdminUpdatePost_title-input{
        width: 60%;
        border-radius: 20px;
        border: black solid 1px;
        padding: 10px;
    }
    .AdminUpdatePost_button-container{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
    }
    .AdminUpdatePost_button-send{
        background: linear-gradient(0.55turn,#3B58CF, #1F232C);
        color: white;
        border: none;
        padding: 15px;
        font-size: 15px;
        border-radius: 10px;
        margin-top: 20px;
        width: 40%;
        font-weight: 700;
    }
    .AdminUpdatePost_button-send:hover{
        cursor: pointer;
        background: linear-gradient(0.50turn,#3B58CF, #1F232C);
    }
}

/* Ordinateur  */
@media screen and (min-width: 1201px){
    .AdminUpdatePost{
        width: 95%;
        margin: auto;
    }
    .AdminUpdatePost_section-container{
        width: 100%;
        margin-bottom: 20px;
    }
    .AdminUpdatePost_section-container label{
        margin-right: 20px;
        font-weight: 600;
    }
    .AdminUpdatePost_title-input{
        width: 60%;
        border-radius: 20px;
        border: black solid 1px;
        padding: 10px;
    }
    .AdminUpdatePost_button-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .AdminUpdatePost_button-send{
        background: linear-gradient(0.55turn,#3B58CF, #1F232C);
        color: white;
        border: none;
        padding: 15px;
        font-size: 15px;
        border-radius: 10px;
        margin-top: 20px;
        width: 30%;
        font-weight: 700;
    }
    .AdminUpdatePost_button-send:hover{
        cursor: pointer;
        background: linear-gradient(0.50turn,#3B58CF, #1F232C);
    }
  
}