/* Mobile  */
@media screen and (max-width: 576px){
    .ReaderNavbar{
        border-bottom: 2px black solid;
        margin-bottom: 20px;
        background-color: #1F232C;
    }
    .ReaderNavbar_header{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        margin-right: 30px;
    }
    .ReaderNavbar_logo{
        width: 250px;
        height: 70px;
    }
    .ReaderNavbar_p{
        font-size: 25px;
        font-weight: 700;
        color: white;
    }
    .ReaderNavbar_hamburger-button{
        height: 50px;
        width: 50px; 
    }
    .ReaderNavbar_hamburger-open{
        background-image: url('../../../assets/icons/navbar/hamburger-close.png');
        background-position: center;
        background-size: cover;
        border: 2px solid black;
        background-color: white;
    }
    .ReaderNavbar_hamburger-close{
        background-image: url('../../../assets/icons/navbar/hamburger-open.png');
        background-position: center;
        background-size: cover;
        border: 2px solid black;
        background-color: white;
    }
    .ReaderNavbar_no-see-ul{
        display: none;
    }
    .ReaderNavbar_see-ul{
        border-top: white 2px solid;
        padding: 20px;
        display: block;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .ReaderNavbar_li{
        list-style: none;
        text-decoration: none;
        margin-top: 15px;
    }
    .ReaderNavbar_link{
        list-style: none;
        text-decoration: none;
        font-size: 24px;
        color: white;
    }    
}

/* Mobile portrait */
@media screen and (min-width: 577px) and (max-width: 768px) {
    .ReaderNavbar{
        border-bottom: 2px black solid;
        margin-bottom: 20px;
        background-color: #1F232C;
    }
    .ReaderNavbar_header{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        margin-right: 30px;
    }
    .ReaderNavbar_logo{
        width: 250px;
        height: 70px;
    }
    .ReaderNavbar_p{
        font-size: 25px;
        font-weight: 700;
        color: white;
    }
    .ReaderNavbar_hamburger-button{
        height: 50px;
        width: 50px; 
    }
    .ReaderNavbar_hamburger-open{
        background-image: url('../../../assets/icons/navbar/hamburger-close.png');
        background-position: center;
        background-size: cover;
        border: 2px solid black;
        background-color: white;
    }
    .ReaderNavbar_hamburger-close{
        background-image: url('../../../assets/icons/navbar/hamburger-open.png');
        background-position: center;
        background-size: cover;
        border: 2px solid black;
        background-color: white;
    }
    .ReaderNavbar_no-see-ul{
        display: none;
    }
    .ReaderNavbar_see-ul{
        border-top: white 2px solid;
        padding: 20px;
        display: block;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .ReaderNavbar_li{
        list-style: none;
        text-decoration: none;
        margin-top: 15px;
    }
    .ReaderNavbar_link{
        list-style: none;
        text-decoration: none;
        font-size: 24px;
        color: white;
    }    
}

/* Tablette */
@media screen and (min-width: 769px) and (max-width: 992px){
    .ReaderNavbar{
        border-bottom: 2px black solid;
        margin-bottom: 20px;
        background-color: #1F232C;
    }
    .ReaderNavbar_header{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        margin-right: 30px;
    }
    .ReaderNavbar_logo{
        width: 250px;
        height: 70px;
    }
    .ReaderNavbar_hamburger-button{
        display: none;
    }
    .ReaderNavbar_p{
        font-size: 25px;
        font-weight: 700;
        color: white;
    }
    .ReaderNavbar_hamburger-container ul{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        border-top: solid 3px white;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .ReaderNavbar_link{
        color: white;
        text-decoration: none;
        list-style: none;
        font-size: 25px;
    }
    .ReaderNavbar_link:hover{
        color: #3B58CF;
        text-decoration: underline;
    }
}

/* Ordinateur portable */
@media screen and (min-width: 993px) and (max-width: 1200px){
    .ReaderNavbar{
        border-bottom: 2px black solid;
        margin-bottom: 20px;
        background-color: #1F232C;
    }
    .ReaderNavbar_header{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        margin-right: 30px;
    }
    .ReaderNavbar_logo{
        width: 240px;
        height: 80px;
    }
    .ReaderNavbar_hamburger-button{
        display: none;
    }
    .ReaderNavbar_p{
        font-size: 25px;
        font-weight: 700;
        color: white;
    }
    .ReaderNavbar_hamburger-container ul{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        border-top: solid 3px white;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .ReaderNavbar_link{
        color: white;
        text-decoration: none;
        list-style: none;
        font-size: 25px;
    }
    .ReaderNavbar_link:hover{
        color: #3B58CF;
        text-decoration: underline;
    }   
}

/* Ordinateur  */
@media screen and (min-width: 1201px){
    .ReaderNavbar{
        border-bottom: 2px black solid;
        margin-bottom: 20px;
        background-color: #1F232C;
    }
    .ReaderNavbar_header{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        margin-right: 30px;
    }
    .ReaderNavbar_logo{
        width: 240px;
        height: 80px;
    }
    .ReaderNavbar_hamburger-button{
        display: none;
    }
    .ReaderNavbar_p{
        font-size: 25px;
        font-weight: 700;
        color: white;
    }
    .ReaderNavbar_hamburger-container ul{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        border-top: solid 3px white;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .ReaderNavbar_link{
        color: white;
        text-decoration: none;
        list-style: none;
        font-size: 25px;
    }
    .ReaderNavbar_link:hover{
        color: #3B58CF;
        text-decoration: underline;
    }   
}