.ReaderNavbar{
    border-bottom: 2px black solid;
    padding-bottom: 20px;
    margin-bottom: 20px;
    background-color: #1F232C;
}

.ReaderNavbar_logo{
    width: 250px;
    height: 70px;
}

.ReaderNavbar_header{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.ReaderNavbar_p{
    font-size: 25px;
    font-weight: 700;
    color: white;
}

.ReaderNavbar_hamburger-button{
    height: 50px;
    width: 50px; 
}

.ReaderNavbar_hamburger-open{
    background-image: url('../../../assets/icons/navbar/hamburger-close.png');
    background-position: center;
    background-size: cover;
    border: 2px solid black;
    background-color: white;
}

.ReaderNavbar_hamburger-close{
    background-image: url('../../../assets/icons/navbar/hamburger-open.png');
    background-position: center;
    background-size: cover;
    border: 2px solid black;
    background-color: white;
}

.ReaderNavbar_no-see-ul{
    display: none;
}

.ReaderNavbar_see-ul{
    display: block;
    padding: 2%;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0%;
}

.ReaderNavbar_li{
    list-style: none;
    text-decoration: none;
}

.ReaderNavbar_link{
    list-style: none;
    text-decoration: none;
    font-size: 24px;
    color: white;
}



.ReaderNavbar_hamburger-container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
}