.ReaderNavbar{
    border-bottom: 2px black solid;
    margin-bottom: 20px;
    background-color: #1F232C;
}
.ReaderNavbar_header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
}

 
.ReaderNavbar_logo{
    width: 250px;
    height: 70px;
}


.ReaderNavbar_p{
    font-size: 25px;
    font-weight: 700;
    color: white;
}

.ReaderNavbar_hamburger-button{
    height: 50px;
    width: 50px; 
}

.ReaderNavbar_hamburger-open{
    background-image: url('../../../assets/icons/navbar/hamburger-close.png');
    background-position: center;
    background-size: cover;
    border: 2px solid black;
    background-color: white;
}

.ReaderNavbar_hamburger-close{
    background-image: url('../../../assets/icons/navbar/hamburger-open.png');
    background-position: center;
    background-size: cover;
    border: 2px solid black;
    background-color: white;
}

.ReaderNavbar_no-see-ul{
    display: none;
}

.ReaderNavbar_see-ul{
    border-top: white 2px solid;
    padding: 20px;
    display: block;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
}

.ReaderNavbar_li{
    list-style: none;
    text-decoration: none;
    margin-top: 15px;
}

.ReaderNavbar_link{
    list-style: none;
    text-decoration: none;
    font-size: 24px;
    color: white;
}


