/* Mobile  */
@media screen and (max-width: 576px){
    .ReaderPostCard{
        height: 200px;
        width: 300px;
        display: flex;
        justify-content: center;
        flex-flow: column;
        align-items: center;
        text-decoration: none;
        margin: 30px;
    }
    .ReaderPostCard img{
        object-fit: cover;
    }
    .ReaderPostCard_picture{
        border: 1px solid black;
        width: 100%;
        height: 100%;
    }
    .ReaderPostCard_title-container p{
        margin: 0px;
        color: white;
        margin: 5px;
    }
    .ReaderPostCard_title-container{
        width: 100%;
        font-size: 20px;
        height: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        background-color: #3B58CF;
        border: 1px solid black;
    }
}

/* Mobile portrait */
@media screen and (min-width: 577px) and (max-width: 768px) {
    .ReaderPostCard{
        height: 200px;
        width: 300px;
        display: flex;
        justify-content: center;
        flex-flow: column;
        align-items: center;
        text-decoration: none;
        margin: 30px;
    }
    .ReaderPostCard img{
        object-fit: cover;
    }
    .ReaderPostCard_picture{
        border: 1px solid black;
        width: 100%;
        height: 100%;
    }
    .ReaderPostCard_title-container p{
        margin: 0px;
        color: white;
        margin: 5px;
    }
    .ReaderPostCard_title-container{
        width: 100%;
        font-size: 20px;
        height: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        background-color: #3B58CF;
        border: 1px solid black;
    }
}

/* Tablette */
@media screen and (min-width: 769px) and (max-width: 992px){
    .ReaderPostCard{
        height: 200px;
        width: 300px;
        display: flex;
        justify-content: center;
        flex-flow: column;
        align-items: center;
        text-decoration: none;
        margin: 30px;
    }
    .ReaderPostCard img{
        object-fit: cover;
    }
    .ReaderPostCard_picture{
        border: 1px solid black;
        width: 100%;
        height: 100%;
    }
    .ReaderPostCard_title-container p{
        margin: 0px;
        color: white;
        margin: 5px;
    }
    .ReaderPostCard_title-container{
        width: 100%;
        font-size: 20px;
        height: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        background-color: #3B58CF;
        border: 1px solid black;
    }
} 

/* Ordinateur portable */
@media screen and (min-width: 993px) and (max-width: 1200px){
    .ReaderPostCard{
        height: 250px;
        width: 350px;
        display: flex;
        justify-content: center;
        flex-flow: column;
        align-items: center;
        text-decoration: none;
        margin: 30px;
    }
    .ReaderPostCard img{
        object-fit: cover;
    }
    .ReaderPostCard_picture{
        border: 1px solid black;
        width: 100%;
        height: 100%;
    }
    .ReaderPostCard_title-container p{
        margin: 0px;
        color: white;
        margin: 5px;
        font-size: 25px;
    }
    .ReaderPostCard_title-container{
        width: 100%;
        font-size: 20px;
        height: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        background-color: #3B58CF;
        border: 1px solid black;
    } 
}

/* Ordinateur  */
@media screen and (min-width: 1201px){
    .ReaderPostCard{
        height: 250px;
        width: 350px;
        display: flex;
        justify-content: center;
        flex-flow: column;
        align-items: center;
        text-decoration: none;
        margin: 30px;
    }
    .ReaderPostCard img{
        object-fit: cover;
    }
    .ReaderPostCard_picture{
        border: 1px solid black;
        width: 100%;
        height: 100%;
    }
    .ReaderPostCard_title-container p{
        margin: 0px;
        color: white;
        margin: 5px;
        font-size: 25px;
    }
    .ReaderPostCard_title-container{
        width: 100%;
        font-size: 20px;
        height: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        background-color: #3B58CF;
        border: 1px solid black;
    } 
}