/* Mobile  */
@media screen and (max-width: 576px){
    .AdminHome{
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    
    .AdminHome_link{
        width: 50%;
        text-align: center;
        padding: 30px;
        background: linear-gradient(0.55turn,#3B58CF, #1F232C);
        margin-bottom: 20px;
        color: white;
        text-decoration: none;
        font-weight: 700;
        border-radius: 30px;
    } 
    .AdminHome_link:hover{
        background: linear-gradient(0.50turn,#3B58CF, #1F232C);
    }
}

/* Mobile portrait */
@media screen and (min-width: 577px) and (max-width: 768px) {
    .AdminHome{
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    .AdminHome_link{
        width: 50%;
        text-align: center;
        font-size: 20px;
        padding: 30px;
        background: linear-gradient(0.55turn,#3B58CF, #1F232C);
        margin-bottom: 20px;
        color: white;
        text-decoration: none;
        font-weight: 700;
        border-radius: 30px;
    } 
    .AdminHome_link:hover{
        background: linear-gradient(0.50turn,#3B58CF, #1F232C);
    }   
}

/* Tablette */
@media screen and (min-width: 769px) and (max-width: 992px){
    .AdminHome{
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    .AdminHome_link{
        width: 40%;
        text-align: center;
        font-size: 20px;
        padding: 30px;
        background: linear-gradient(0.55turn,#3B58CF, #1F232C);
        margin-bottom: 20px;
        color: white;
        text-decoration: none;
        font-weight: 700;
        border-radius: 30px;
    } 
    .AdminHome_link:hover{
        background: linear-gradient(0.50turn,#3B58CF, #1F232C);
    }   
}

/* Ordinateur portable */
@media screen and (min-width: 993px) and (max-width: 1200px){
    .AdminHome{
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    .AdminHome_link{
        width: 40%;
        text-align: center;
        font-size: 20px;
        padding: 30px;
        background: linear-gradient(0.55turn,#3B58CF, #1F232C);
        margin-bottom: 20px;
        color: white;
        text-decoration: none;
        font-weight: 700;
        border-radius: 30px;
    } 
    .AdminHome_link:hover{
        background: linear-gradient(0.50turn,#3B58CF, #1F232C);
    }     
}

/* Ordinateur  */
@media screen and (min-width: 1201px){
    .AdminHome{
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    .AdminHome_link{
        width: 30%;
        text-align: center;
        font-size: 20px;
        padding: 30px;
        background: linear-gradient(0.55turn,#3B58CF, #1F232C);
        margin-bottom: 20px;
        color: white;
        text-decoration: none;
        font-weight: 700;
        border-radius: 30px;
    } 
    .AdminHome_link:hover{
        background: linear-gradient(0.50turn,#3B58CF, #1F232C);
    }     
}
