@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

*{
    margin: 0%;
    font-family: "Roboto Condensed";
}
body{
    position: relative;
    padding-bottom: 200px;
    min-height: 70vh;
}

/*ERROR STYLE */
.errorMessage{
    color: red;
    font-size: 20px;
}
.error-input{
    border: 3px red solid !important;
}