/* Mobile  */
@media screen and (max-width: 576px){
    .AdminSeeAllPosts{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    .AdminSeeAllPosts h1{
        margin-bottom: 20px;
        font-weight: 900;
        text-decoration: underline 3px;
    }
    .AdminSeeAllPosts_card-container{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    .AdminSeeAllPosts_change-mode{
        border: none;
        background: linear-gradient(0.55turn,#3B58CF, #1F232C);
        font-weight: 600;
        padding: 10px;
        border-radius: 20px;
        color: white;
    }
    .AdminSeeAllPosts_change-mode:hover{
        background: linear-gradient(0.50turn,#3B58CF, #1F232C);
        cursor: pointer;
    }
    .AdminSeeAllPostsManagerMode{
        margin: auto;
        width: 90%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    .AdminSeeAllPostsManagerMode table{
        width: 100%;
        margin-top: 20px;
        border: black solid 2px;
    }
    .AdminSeeAllPostsManagerMode th[scope="col"]{
        background-color: #1F232C;
        font-weight: 600;
        color: white;
    }
    .AdminSeeAllPostsManagerMode_delete-button{
        background-image: url('../../../assets/icons/allOther/delete.png');
        background-size: cover;
        background-position: center;
        width: 30px;
        height: 30px;
        background-color: white;
        border: none;
    }
    .AdminSeeAllPostsManagerMode_delete-button:hover{
        cursor: pointer;
        border: solid #3B58CF 2px;
    }
    .AdminSeeAllPosts table, th{
        border: 1px solid;
    }
}

/* Mobile portrait */
@media screen and (min-width: 577px) and (max-width: 768px) {
    .AdminSeeAllPosts{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    .AdminSeeAllPosts h1{
        margin-bottom: 20px;
        font-weight: 900;
        text-decoration: underline 3px;
    } 
    .AdminSeeAllPosts_card-container{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }  
    .AdminSeeAllPosts_change-mode{
        border: none;
        background: linear-gradient(0.55turn,#3B58CF, #1F232C);
        font-weight: 600;
        padding: 15px;
        border-radius: 20px;
        color: white;
        font-size: 20px;
    }
    .AdminSeeAllPosts_change-mode:hover{
        background: linear-gradient(0.50turn,#3B58CF, #1F232C);
        cursor: pointer;
    }
    .AdminSeeAllPostsManagerMode{
        margin: auto;
        width: 90%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    .AdminSeeAllPostsManagerMode table{
        width: 100%;
        margin-top: 20px;
        border: black solid 2px;
    }
    .AdminSeeAllPostsManagerMode th[scope="col"]{
        background-color: #1F232C;
        font-weight: 600;
        color: white;
    }
    .AdminSeeAllPostsManagerMode_delete-button{
        background-image: url('../../../assets/icons/allOther/delete.png');
        background-size: cover;
        background-position: center;
        width: 30px;
        height: 30px;
        background-color: white;
        border: none;
    }
    .AdminSeeAllPostsManagerMode_delete-button:hover{
        cursor: pointer;
        border: solid #3B58CF 2px;
    }
    .AdminSeeAllPosts table, th{
        border: 1px solid;
    }
}

/* Tablette */
@media screen and (min-width: 769px) and (max-width: 992px){
    .AdminSeeAllPosts{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    .AdminSeeAllPosts h1{
        font-size: 30px;
        margin-bottom: 20px;
        font-weight: 900;
        text-decoration: underline 3px;
    } 
    .AdminSeeAllPosts_card-container{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }  
    .AdminSeeAllPosts_change-mode{
        border: none;
        background: linear-gradient(0.55turn,#3B58CF, #1F232C);
        font-weight: 600;
        padding: 15px;
        border-radius: 20px;
        color: white;
        font-size: 20px;
    }
    .AdminSeeAllPosts_change-mode:hover{
        background: linear-gradient(0.50turn,#3B58CF, #1F232C);
        cursor: pointer;
    }
    .AdminSeeAllPostsManagerMode{
        margin: auto;
        width: 90%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    .AdminSeeAllPostsManagerMode table{
        width: 100%;
        margin-top: 20px;
        border: black solid 2px;
    }
    .AdminSeeAllPostsManagerMode th[scope="col"]{
        background-color: #1F232C;
        font-weight: 600;
        color: white;
    }
    .AdminSeeAllPostsManagerMode_delete-button{
        background-image: url('../../../assets/icons/allOther/delete.png');
        background-size: cover;
        background-position: center;
        width: 30px;
        height: 30px;
        background-color: white;
        border: none;
    }
    .AdminSeeAllPostsManagerMode_delete-button:hover{
        cursor: pointer;
        border: solid #3B58CF 2px;
    }
    .AdminSeeAllPosts table, th{
        border: 1px solid;
    }
}

/* Ordinateur portable */
@media screen and (min-width: 993px) and (max-width: 1200px){
    .AdminSeeAllPosts{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    .AdminSeeAllPosts h1{
        font-size: 30px;
        margin-bottom: 20px;
        font-weight: 900;
        text-decoration: underline 3px;
    } 
    .AdminSeeAllPosts_card-container{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }  
    .AdminSeeAllPosts_change-mode{
        border: none;
        background: linear-gradient(0.55turn,#3B58CF, #1F232C);
        font-weight: 600;
        padding: 15px;
        border-radius: 20px;
        color: white;
        font-size: 20px;
    }
    .AdminSeeAllPosts_change-mode:hover{
        background: linear-gradient(0.50turn,#3B58CF, #1F232C);
        cursor: pointer;
    }
    .AdminSeeAllPostsManagerMode{
        margin: auto;
        width: 90%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    .AdminSeeAllPostsManagerMode table{
        width: 100%;
        margin-top: 20px;
        border: black solid 2px;
    }
    .AdminSeeAllPostsManagerMode th[scope="col"]{
        background-color: #1F232C;
        font-weight: 600;
        color: white;
    }
    .AdminSeeAllPostsManagerMode_delete-button{
        background-image: url('../../../assets/icons/allOther/delete.png');
        background-size: cover;
        background-position: center;
        width: 30px;
        height: 30px;
        background-color: white;
        border: none;
    }
    .AdminSeeAllPostsManagerMode_delete-button:hover{
        cursor: pointer;
        border: solid #3B58CF 2px;
    }  
    .AdminSeeAllPosts table, th{
        border: 1px solid;
    }
}

/* Ordinateur  */
@media screen and (min-width: 1201px){
    .AdminSeeAllPosts{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    .AdminSeeAllPosts h1{
        font-size: 30px;
        margin-bottom: 20px;
        font-weight: 900;
        text-decoration: underline 3px;
    } 
    .AdminSeeAllPosts_card-container{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }  
    .AdminSeeAllPosts_change-mode{
        border: none;
        background: linear-gradient(0.55turn,#3B58CF, #1F232C);
        font-weight: 600;
        padding: 15px;
        border-radius: 20px;
        color: white;
        font-size: 20px;
    }
    .AdminSeeAllPosts_change-mode:hover{
        background: linear-gradient(0.50turn,#3B58CF, #1F232C);
        cursor: pointer;
    }
    .AdminSeeAllPostsManagerMode{
        margin: auto;
        width: 80%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    .AdminSeeAllPostsManagerMode table{
        width: 100%;
        margin-top: 20px;
        border: black solid 2px;
    }
    .AdminSeeAllPostsManagerMode th[scope="col"]{
        background-color: #1F232C;
        font-weight: 600;
        color: white;
    }
    .AdminSeeAllPostsManagerMode_delete-button{
        background-image: url('../../../assets/icons/allOther/delete.png');
        background-size: cover;
        background-position: center;
        width: 30px;
        height: 30px;
        background-color: white;
        border: none;
    }
    .AdminSeeAllPostsManagerMode_delete-button:hover{
        cursor: pointer;
        border: solid #3B58CF 2px;
    } 
    .AdminSeeAllPosts table, th{
        border: 1px solid;
    }
}